<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aoptest.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.aoptest.entity.Address">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="AREAID" property="areaid" />
        <result column="OPERATORID" property="operatorid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, AREAID, OPERATORID
    </sql>
    <insert id="batchInsertData">
        insert into t_address (`name`,areaid,operatorid) values 
         <foreach collection="list" item="city" separator=",">
             (#{city.name},#{city.areaid},#{city.operatorid})
         </foreach>
    </insert>

</mapper>
